body{
   margin: 0px;
   padding: 0px;

background-image: url("img.jpg");

background-position: top left;
background-size: cover;
}
p{
font-family: Arial;
font-size: large;
font-weight: 300;
font-style: italic;
color: blue;
text-align: justify;
text-decoration: underline;
text-transform: capitalize;
text-shadow: 1px 5px  1px red;

}











